.btn{
  font-size: 14px !important;
}
.gap-10{
  gap: 10px;
}
canvas{
  width: 100% !important;
  height: 100% !important;
}
.canvas-container{
  width: 100% !important;
  height: 500px !important;
}
.search-image{
  height: 250px;
  width: 100%;
  object-fit: cover;
}